@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap')


*{
  margin: 0;
  padding: 0;
}

.container{
  width: 560px;
  height: 560px;
  /* -webkit-box-shadow: -3px 14px 13px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: -3px 14px 13px 0px rgba(50, 50, 50, 0.75);
box-shadow:-3px 14px 13px 0px rgba(50, 50, 50, 0.75); */
  top: -20%;
  left: 50%;
  transform: translate(75%,10%);

}

.container h1{
  font-size: 55px;
  position: absolute;
  left: 20%;
  top: 1%;
  color: Black;
  font-family: "Poppins";
  font-weight: 200;
}

.container h2{
  font-size: 40px;
  position: absolute;
  left: 47%;
  top:35%;
}

.container h2{
  font-family: "courier new";
}

.btn-1{
  position: absolute;
  left: 5%;
  top:70%;

  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-2{
  position: absolute;
  left: 60%;
  top:70%;


  border-radius: 4px;
  background-color: #04AA6D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
